// largeur
$lmax:1040px;

//marge
$marge:20px;


//police//
$fantaisie: 'Amatic SC', arial, sans-serif;
$police: 'Source Sans Pro', arial, sans-serif;


//couleur//
$bleu:#456ac7;
$bleuclair:#799aed;

$vert:#79b530;
$vertclair:#C7D210;

$rouge:#E24D26;

$orange:#EB9414;

$grisclair:#E8E9ED;

//le menu
$onglet_menu: (
accueil, 
presentation,
epreuves,
infos,
commentaire,
inscription,

);


