{% extends "layout.html" %}

{% block title %}Infos pratiques{% endblock %}

{% block page %}<div class="page infos">{% endblock %}

{% block contenu %}
            
        <!--aside-->
        {{ include('partial/_aside.twig') }}

        <section class="content">

            <div class="agauche">

                <div class="sousmenu">
                    <ul>
                        <li data-lien="contact"><a>Contactez-nous</a></li>
                        <li data-lien="plan"><a>Plan d'accés</a></li>
                        <li data-lien="reglement"><a>Le règlement</a></li>
                    </ul>
                </div>

                <div id="contact" class="souspage actif">
                    <div class="texte">
                        <h2 class="bounceInLeft animated">Contactez-nous</h2>
                        <p>Si vous avez envie de rejoindre une équipe dynamique et motivée, si vous avez des idées, ou simplement des questions, n’hésitez pas à nous contacter par mail à <a href="mailto:rouraid06@gmail.com">rouraid06@gmail.com</a> ou via ce formulaire de contact.</p>
                    </div>

                    <div class="fiche">
                        <div>
                            <form method="post" action="?page=infos_pratiques">
                                <div>
                                    <label for="prenom">Prénom :</label>
                                    <input type="text" id="prenom" name="prenom" required="required">
                                </div>
                                <div>
                                    <label for="nom">Nom :</label>
                                    <input type="text" id="nom" name="nom" required="required">
                                </div>
                                <div>
                                    <label for="email">Email :</label>
                                    <input class="mail" type="text" id="email" name="email"><div class="errorjs">.</div><br/>
                                </div>
                                <div>
                                    <label for="message"></label>
                                    <textarea id="message" name="message" placeholder="Ecrivez votre message ici" required="required"></textarea>
                                </div>
                                <div>
                                    <input class="envoi bouton" type="submit" name="envoyer" value="ENVOYER"/>
                                </div>
                            </form>

                            <div class="erreur" ><p>{{confirmation}}</p></div>
                        </div>
                    </div>

                </div>

            	<div id="plan" class="texte souspage">
            		<h2 class="bounceInLeft animated">Plan d'accès au Camp Romain</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11540.448389274557!2d6.9911953597949354!3d43.68743288354044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cc2e86968a6bc3%3A0x6be40059fdb73ab0!2sCamps+Romain!5e0!3m2!1sfr!2sfr!4v1560851025204!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            	</div>

                <div id="reglement" class="texte souspage">
                    <h2 class="bounceInLeft animated">Le règlement du rouraid</h2>

                    {% for cat_reglement in cats_reglement %}
                        <h3>{{ cat_reglement.libelle}}</h3>
                            <ul>
                                {% for reglement in reglements %}
                                    {% if reglement.id_cat_reglement == cat_reglement.id_cat_reglement %}
                                        <li>{{ markdown(reglement.texte) | nl2br }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                    {% endfor %}
                    
                </div>


            </div>
            
        </section>


{% endblock %}