
        <div class="commande">
            <ul>
                <li><p>Inscription</p></li>
                <li><p>Repas</p></li>
                <li><p>Récapitulatif</p></li>
                <li><p>Paiement</p></li>
            </ul>
        </div>